<div class="background-image">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">The Lawrence School Digital Libray</h1>
          <p class="lead">The LSL Digital Libray provides access to :</p>
        </div>
      </div>
      <ul>
        <li> Library Catalogue
        </li>
        <li>E-Library
        </li>
        <li>Digital archives of the school
        </li>
      </ul>
      <!-- <p>Join an international community of <a href="https://wiki.lyrasis.org/display/DSPACE/DSpace+Positioning" target="_blank">leading institutions using DSpace</a>.</p>
      <p>The test user accounts below have their password set to the name of this
        software in lowercase.</p>
      <ul>
        <li>Demo Site Administrator = dspacedemo+admin@gmail.com</li>
        <li>Demo Community Administrator = dspacedemo+commadmin@gmail.com</li>
        <li>Demo Collection Administrator = dspacedemo+colladmin@gmail.com</li>
        <li>Demo Submitter = dspacedemo+submit@gmail.com</li>
      </ul> -->
    </div>
  </div>
</div>
